<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset=" utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Student Register</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'register.css'%}" type="text/css" />
  </head>

  <body>
    <script>

$(document).ready(function() {
  
  
});
    </script>
    <div class="class">
      <div class="logos">
        <img class="img2" src="../static/logos/rec-logo.png">
        <img class="img1" src="../static/logos/logo1.png">
        
      </div>
      <div class="form">
        <div class="title">Student Register</div>
        <div class="subtitle">Let's create your account!</div>
        <form class="" action="" method="post">
          {% csrf_token %}
          <div class="input-container ic1">
            <input
              id="Name"
              class="input"
              type="text"
              name="name"
              placeholder=" "
              maxlength="100"
              value="{{name}}"
            />
            <div class="cut"></div>
            <label for="name" class="placeholder">Name</label>
          </div>
          <div class="input-container ic2">
            <input
              id="regno"
              class="input"
              type="text"
              name="regno"
              placeholder=" "
              value="{{regno}}"
            />
            <div class="cut cut-short"></div>
            <label for="regno" class="placeholder">Registeration no.</label>
          </div>
          <div class="input-container ic2">
            <input
              id="year"
              class="input"
              type="number"
              name="year"
              placeholder=" "
              value="{{year}}"
            />
            <div class="cut cut-short"></div>
            <label for="year" class="placeholder">Year of Study</label>
          </div>
          <div class="input-container ic2">
            <input
              id="email"
              class="input"
              type="text"
              name="email"
              placeholder=" "
              value="{{email}}"
            />
            <div class="cut cut-short"></div>
            <label for="email" class="placeholder">Email</label>
          </div>

          <div class="input-container ic2">
            <input
              id="email"
              class="input"
              type="text"
              name="phoneno"
              placeholder=" "
              value="{{phoneno}}"
            />
            <div class="cut cut-short"></div>
            <label for="phoneno" class="placeholder">Contact No</label>
          </div>

          <div class="input-container ic2">
            <input
              id="dept"
              class="input"
              type="text"
              name="dept"
              placeholder=" "
              value="{{dept}}"
            />
            <div class="cut cut-short"></div>
            <label for="dept" class="placeholder">Department</label>
          </div>
          <div class="input-container ic2">
            <input
              id="college"
              class="input"
              type="text"
              name="college"
              placeholder=" "
              value="{{college}}"
            />
            <div class="cut cut-short"></div>
            <label for="college" class="placeholder"
              >Name of the institution</label
            >
          </div>
          <div class="input-container ic2">
            <input
              id="password"
              class="input"
              type="password"
              name="password"
              placeholder=" "
              value="{{password}}"
            />
            <div class="cut cut-short"></div>
            <label for="password" class="placeholder">Password</label>
          </div>
          <div class="input-container ic2">
            <input
              id="confirmpassword"
              class="input"
              type="password"
              name="confirmpassword"
              placeholder=" "
              value="{{confirmpassword}}"
            />
            <div class="cut cut-short"></div>
            <label for="confirmpassword" class="placeholder"
              >Confirm Password</label
            >
          </div>
          <br />
          {% if show == 1 %}
          <p>Mail Id already exists (Please Login) </p>
          {% endif %} {{message}}
          <input  id="register-btn" class="submit" type="submit"  />
        </form>
        <div class="nav"><span>Already registered?</span><a href="/login">Login</a></div>
        <div class="nav">* Check your email inbox to verify your email.</div>
      </div>
    </div>
  </body>
</html>
