<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset=" utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Student Profile</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{%static 'test.css'%}"
      type="text/css"
      media="screen"
    />
  </head>

  <body>
    <div>
      <div class="logos">
        <img class="img2" src="../static/logos/rec-logo.png" />
        <img class="img1" src="../static/logos/logo1.png" />
        
      </div>
      <div class="form">
        <div class="title">Welcome {{name}}</div>
        <div class="subtitle">Tickets you have bought</div>
        <!-- <div class="subtitle">All the Proshow registrations have been closed!</div> -->
        <br />
        <div class="input">
          {% if day1 and not premium1 %} Day 1 STANDARD
          <br />
          {% endif %} {% if day2 and not premium2 %} Day 2 STANDARD
          <br />
          {% endif %} {% if day3 and not premium3 %} Day 3 STANDARD
          <br />
          {% endif %} {% if premium1 %} Day 1 PREMIUM<br />
          {% endif %} {% if premium2 %} Day 2 PREMIUM<br />
          {% endif %} {% if premium3 %} Day 3 PREMIUM<br />
          {% endif %}
        </div>
        {% if merch > 0 %}
        <div class="subtitle">You have bought {{merch}} T-shirt.</div>
        {% endif %}
        
        <!-- {% if day1 or day2 or day3 %}
        <div class="subtitle">All the event registrations have been closed!</div>
        {% endif %} -->
        <br />
        <div class="subtitle">Events that you have registered are : </div>
        {% for i in events %} {{i}}
        <br />
        {% endfor %}
      </div>

      <div class="">
        {% if show %}
        <a class="submit" href="/mainevent">Buy tickets</a> 
        {% endif %}
        <!-- <a class="submit" href="/merch">Buy merch</a> -->
        <a class="submit" href="/logout">Logout</a>

      </div>

      
      <div class="events-div">
        <div class="form">
          <!-- <div class="subtitle">All registrations have been closed!</div> -->
          
          <div class="">
            {% for j in day2_events %}
            <div class="event">
              <p>{{j.category}} - {{j.name}}</p>
              {% if j.pay > 0 %}
              <a class="submit" href="http://ticket.rityatra.com/events/{{j.id}}">Rs. {{j.pay}}</a>
              {% else %}
              <a class="submit" href="http://ticket.rityatra.com/events/{{j.id}}">Free</a>
              {% endif %}
            </div>
            {% endfor %} {% for j in day3_events %}
            <div class="event">
              <p>{{j.category}} - {{j.name}}</p>
              {% if j.pay > 0 %}
              <a class="submit" href="http://ticket.rityatra.com/events/{{j.id}}">Rs. {{j.pay}}</a>
              {% else %}
              <a class="submit" href="http://ticket.rityatra.com/events/{{j.id}}">Free</a>
              {% endif %}
            </div>
            {% endfor %} 
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
